@import './src/assets/config/utils.scss';

.page {
    @extend %page;
    padding-top: 30px;
    
    .body {
        @extend %body;
    }

    .login-form {
        display: block;
        width: 50%;
        margin-top: 30px;
    }
    
    .input-field {
        margin-top: 15px;
    }
    
    .submit {
        margin-top: 30px;
    }

    button {
        width: 300px;
    }

    .swiper-container {
        margin: 20px 0px;
    }

    mat-menu {
        width: 100%;
    }
}
