
<div class="page">
    <div class="body" >
        <h1 class="assistant-bold">LOGIN:</h1>
       
        <div class="login-form">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit(login)" novalidate>
                <div class="input-field" >
                    <input-text 
                        [control]="user.control"
                        [value]="login.USERNAME"
                        [placeholder]="'ENTER USERNAME'"
                        [validation]="'Name is required'"
                        [ngModel]="login.USERNAME"
                        (onchange)="login.USERNAME=$event"
                        name="user"
                        #user="ngModel"
                        ngDefaultControl
                        required>
                    </input-text>
                </div>

                <div class="input-field" >
                    <input-autocomplete-single 
                        [control]="experty.control"zz
                        [items]="items"
                        [placeholder]="'ENTER EXPERTY'"
                        [validation]="'Experty is required'"
                        [ngModel]="login.EXPERTY"
                        (onchange)="login.EXPERTY=$event"
                        name="experty"
                        #experty="ngModel"
                        ngDefaultControl
                        requireMatch
                        required>
                    </input-autocomplete-single>
                </div>
    
                <div class="input-field">
                    <mat-checkbox
                        [ngModel]="login.TERMS"
                        (change)="login.TERMS=$event.checked"  
                        name="terms" 
                        #terms="ngModel" 
                         >

                        <mat-hint>Accept terms</mat-hint>
                    </mat-checkbox>
                    <mat-error *ngIf="terms.invalid && form.submitted">You most accept the terms</mat-error>
                </div>
    
                <div class="input-field submit" align="end">
                    <button mat-raised-button color="primary">Submit the form</button>
                </div>
            </form>
        </div>
    </div>
</div>