
<div class="page">
    <div class="body" >
        <h1 class="assistant-bold">LOGIN:</h1>
       
        <div class="login-form">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit(login)" novalidate>
                <div class="input-field" >
                    <input-text 
                        [control]="user.control"
                        [value]="login.USERNAME"
                        [placeholder]="'ENTER USERNAME'"
                        [validation]="'Name is required'"
                        [ngModel]="login.USERNAME"
                        (onchange)="login.USERNAME=$event"
                        name="user"
                        #user="ngModel"
                        ngDefaultControl>
                    </input-text>
                </div>
    
                <div class="input-field">
                    <input-date
                        [control]="date.control"
                        [value]="login.DATE"
                        [placeholder]="'ENTER DATE'"
                        [hint]="'a date hint'"
                        [validation]="'Date is required'"
                        [readonly]="false"
                        [ngModel]="login.DATE"
                        (onchange)="login.DATE=$event"
                        name="date"
                        #date="ngModel"
                        ngDefaultControl
                        required>
                    </input-date>
                </div>
    
                <div class="input-field">
                    <input-textarea
                        [control]="comment.control"
                        [value]="login.COMMENT"
                        [placeholder]="'ENTER COMMENT'"
                        [hint]="'this is a hint'"
                        [validation]="'Comment is required'"
                        [maxlength]="35"
                        [rows]="6"
                        [readonly]="false"
                        [ngModel]="login.COMMENT"
                        (onchange)="login.COMMENT=$event"
                        name="comment"
                        #comment="ngModel"
                        ngDefaultControl
                        pattern=".{10,15}"
                        >
                    </input-textarea>
                </div>

                <div class="input-field">
                    <input-multiple-select
                        [control]="citys.control"
                        [items]="items"
                        [selecteds]="login.CITYS"
                        [placeholder]="'CITYS'"
                        [hint]="'select your home town'"
                        [validation]="'Citys is required'"
                        [readonly]="false"
                        [ngModel]="login.CITYS"
                        (onchange)="login.CITYS=$event"
                        name="citys"
                        #citys="ngModel"
                        ngDefaultControl
                        required>
                    </input-multiple-select>
                </div>
    
                <div class="input-field" align="end">
                    <button mat-raised-button color="primary">Primary</button>
                </div>
            </form>
        </div>
    </div>
</div>