
<div class="input-file-main" (click)="createHTMLFileInputElement()">
    <mat-form-field>
        <mat-label *ngIf="!files.length">{{placeholder}}</mat-label>
        <label *ngIf="files.length">{{files.length}} Files Selected</label> 
        
        <mat-select [(ngModel)]="selected" [compareWith]="compareWith" [errorStateMatcher]="matcher" [formControl]="control">
            <mat-select-trigger></mat-select-trigger>
            
            <mat-option *ngFor="let file of files" [value]="file.ID" (onSelectionChange)="handleChange($event)">
                <span>{{file.NAME}}</span>
            </mat-option>
        </mat-select>

        <mat-hint>{{hint}}</mat-hint>
        <mat-error>{{validation}}</mat-error>
    </mat-form-field>
</div>