@import './src/assets/config/utils.scss';

// Set mat-dialog background as transparent.
.mat-dialog-container { 
    box-shadow: none;
    background: transparent;
}

.loader-main {
    display: block;

    .mat-typography {
        overflow: hidden;
    }

}