
<div class="input-autocomplete-single-main">
    <mat-form-field>
        <input matInput #search
            type="text"
            value="{{value}}" 
            placeholder="{{placeholder}}"
            [errorStateMatcher]="matcher"
            [formControl]="control"
            [readonly]="readonly"
            [matAutocomplete]="auto"
            (input)="print(search)">
            
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" (optionSelected)="onchange.emit($event.option.value)">
            <mat-option *ngFor="let item of items" [value]="item.ID" [ngClass]="{'highlighted': item.ID==selected}">
                {{items | name: item.ID}}
            </mat-option>
        </mat-autocomplete>

        <mat-hint>{{hint}}</mat-hint>
        <mat-error>{{validation}}</mat-error>
    </mat-form-field>
</div>
    
    
    
    