
<div class="swiper-main">
    <div class="body">
        <div class="arrow-slide arrow-prev no-select" [ngClass]="{'inactive': preventPrev()}">
            <mat-icon (click)="slidePrev()">navigate_before</mat-icon>
        </div>
        
        <div class="sliders-container" >                                                                         
            <div class="slider-item" *ngFor="let slider of sliders; let i=index" [style.left]="((i - xAxisIndex) * (sliderWidth + margin)) + xAxisStartPosition + 'px'">                
                
            </div>
        </div>
        
        <div class="arrow-slide arrow-next no-select" [ngClass]="{'inactive': preventNext()}">
            <mat-icon (click)="slideNext()">navigate_next</mat-icon>
        </div>
    </div>
</div>


<!-- 
    (mousedown)="mouseKeyDown()" (mouseleave)="mouseKeyUp()" (mouseup)="mouseKeyUp()"
    195 == slider-item.width + 25(margin).
 -->
