/* You can add global styles to this file, and also import other style files */
@import './src/assets/config/utils.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: assistant-regular;
}

@font-face {
    font-family: assistant-regular;
    src: url('./assets/fonts/assistant-regular.ttf');
}

@font-face {
    font-family: assistant-bold;
    src: url('./assets/fonts/assistant-bold.ttf');
}

@font-face {
    font-family: heebo-regular;
    src: url('./assets/fonts/heebo-regular.ttf');
}

@font-face {
    font-family: jenna-sue;
    src: url('./assets/fonts/jenna-sue.ttf');
}