@import './definitions';

%root {
    width: $full-screen;
    
    @media screen and (min-width: $breakpoint-sm) {
        min-width: $root-min-width;
    }

    @media screen and (max-width: $breakpoint-sm) {
        min-width: $full-screen;
    }
}

%page {
    width: $full-screen;

    %body {
        margin: 0 auto;
        
        @media screen and (min-width: $breakpoint-sm) {
            width: $body-desktop-width;
        }
    
        @media screen and (max-width: $breakpoint-sm) {
            width: $body-mobile-width;
        }
    }
}
