@import './definitions';

%root {
    display: block;
    width: $full-screen;
    
    @media screen and (min-width: $breakpoint-sm) {
        min-width: $root-min-width;
    }

    @media screen and (max-width: $breakpoint-sm) {
        min-width: $full-screen;
    }
}

%page {
    display: block;
    width: $full-screen;

    %body {
        display: block;
        padding: 30px 0px;
        margin: 0 auto;
        
        @media screen and (min-width: $breakpoint-sm) {
            width: $body-desktop-width;
        }
    
        @media screen and (max-width: $breakpoint-sm) {
            width: $body-mobile-width;
        }
    }
}

%mobile-container {
    display: block;
    width: $full-screen;

    @media screen and (max-width: $breakpoint-sm) {
        padding: 0px 20px;
    }
}