@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './colors';

mat-form-field {
    width: 100%;
}

mat-error {
    font-size: 12px;
    font-weight: 700;
}

.loader-dialog {
    .mat-dialog-container { 
        box-shadow: none;
        background: transparent;
    }
}

