@import './src/assets/config/utils.scss';

.page {
    @extend %page;
    
    .body {
        @extend %body;
        text-align: center;
    }

    .header {
        padding-top: 200px;
    }

    .icon {
        padding-top: 30px;
    }

    mat-icon {
        width: 65px;
        height: 65px;
        font-size: 65px;
    }

}