
<div class="nav-bar-main shadow-border-deep">
    <div class="bar-section">
        <img [src]="'assets/images/png/angular-logo.png'"/>
    </div>

    <div class="bar-section">
        <div class="link">
            <mat-icon>account_circle</mat-icon>
            <br />
            <span>Account</span>
        </div>

        <div class="link">
            <mat-icon>settings</mat-icon>
            <br />
            <span>Settings</span>
        </div>

        <div class="link">
            <mat-icon>exit_to_app</mat-icon>
            <br />
            <span>Exit</span>
        </div>
    </div>
</div>